{
  "email": {
    "name": "abc@def.com",
    "password": "def",
    "imapServer": "imap.foo.bar",
    "criteria": "('SINCE' '01-Jan-2000')"
  },
  "attachmentPath": "./",
  "maxFileNumToReplace": -1
}