{
  "httpServer": {
    "ipAddress": "127.0.0.1",
    "port": 10001,
    "retryInterval": 40
  },
  "email": {
    "name": "abc@def.com",
    "password": "def",
    "smtpServer": "smtp.foo.bar",
    "interval": 1800,
    "watchPath": "./",
    "extraWatchFiles": [],
    "fileExt": "log",
    "fileNum": 2
  },
  "files": {
    "interval": 40,
    "dateFormat": "%Y-%m-%d, %H:%M:%S",
    "alarmPath": "./alarm.txt",
    "heartbeatPath": "./heartbeat.txt"
  },
  "enableLog": "true"
}