{
  "heartBeatServer": {
    "ipAddress": "127.0.0.1",
    "port": 10000,
    "interval": 40
  },
  "httpServer": {
    "port": 10001
  },
  "email": {
    "name": "abc@def.com",
    "password": "def",
    "smtpServer": "smtp.foo.bar",
    "interval": 1800,
    "watchPath": "./",
    "fileExt": "log",
    "fileNum": 2
  },
  "jpush": {
    "appKey": "abc",
    "masterSecret": "def"
  },
  "enableLog": "true"
}